@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

/* Style utama body dan halaman */
html, body {
  height: 100%;              /* pastikan body setinggi viewport */
  margin: 0;                 /* hilangkan margin default */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;        /* hilangkan scroll horizontal */
  overflow-y: auto;          /* scroll vertikal muncul hanya kalau konten lebih tinggi */
  overscroll-behavior: contain; /* stop scroll “lebih” saat sudah mentok */
}
